<!DOCTYPE>
<html  xmlns:th="http://www.thymeleaf.org">
  <head>
    
    <title>[HKR.LT]  |  教师登录</title>
    <meta charset="UTF-8">
    <meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">
	<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
	<meta http-equiv="description" content="This is my page">
	<link rel="stylesheet" href="/css/login.css">
    <link rel="icon" href="favicon.ico">
	<script charset="UTF-8" type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
	<script charset="UTF-8" type="text/javascript" src="/admin_jsps/js/tea_login.js"></script>
    <script charset="UTF-8" type="text/javascript" src="/layui/layui.all.js"></script>
    <script charset="UTF-8" type="text/javascript" src="/js/crypto-js.min.js"></script>
	
  </head>
  
  <body>
  
      <style>
        .right{
            margin:0 auto;
        }
      </style>
   	 <div class="dowebok" id="tea_bg">
        <div class="container">
            <div  class="right">
                <svg viewBox="0 0 320 300">
                    <defs>
                        <linearGradient inkscape:collect="always" id="linearGradient" x1="13" y1="193.49992" x2="307"
                            y2="193.49992" gradientUnits="userSpaceOnUse">
                            <stop style="stop-color:#ff00ff;" offset="0" id="stop876" />
                            <stop style="stop-color:#ff0000;" offset="1" id="stop878" />
                        </linearGradient>
                    </defs>
                    <path d="m 40,120.00016 239.99984,-3.2e-4 c 0,0 24.99263,0.79932 25.00016,35.00016 0.008,34.20084 -25.00016,35 -25.00016,35 h -239.99984 c 0,-0.0205 -25,4.01348 -25,38.5 0,34.48652 25,38.5 25,38.5 h 215 c 0,0 20,-0.99604 20,-25 0,-24.00396 -20,-25 -20,-25 h -190 c 0,0 -20,1.71033 -20,25 0,24.00396 20,25 20,25 h 168.57143" />
                </svg>
            <form method="post" action="/teacherLogin" onsubmit="return login_check()">
                <div class="form" >
                	<input type="hidden" name="method" value="login"/>
                    <label for="loginname" id="msg_uname" style="color:red;" th:text="${msg}"></label>
                    <input type="text" placeholder="教师登录名/手机" onfocus="$('#msg_uname').text('');" id="loginname" name="loginname" onblur="ajax_uname_check()">
                    <label for="password" id="msg_pwd" th:text="${pwd }"></label>
                    <input type="password" placeholder="请输入密码" id="password" name="password" onfocus="$('#msg_pwd').text('');" onblur="passwd_check()">
                    <input type="submit" id="submit" value="登陆">
                </div>
            </form>
            </div>
        </div>
    </div>
    
    <script src="/js/login/anime.min.js"></script>
    <script src="/js/login/index.js"></script>
    <script type="text/javascript">
			 var userAgent = navigator.userAgent; //取得浏览器的userAgent字符串  
		     var isIE = userAgent.indexOf("compatible") > -1 && userAgent.indexOf("MSIE") > -1; //判断是否IE<11浏览器  
		     var isEdge = userAgent.indexOf("Edge") > -1 && !isIE; //判断是否IE的Edge浏览器  
		     var isIE11 = userAgent.indexOf("Trident") > -1 || userAgent.indexOf("rv:11.0") > -1;
	         if(isIE11){
	        	 window.location = "/error/browser.html";
	        	 
	         }
		     if(isIE) {
		         var reIE = new RegExp("MSIE (\\d+\\.\\d+);");
		         reIE.test(userAgent);
		         var fIEVersion = parseFloat(RegExp["$1"]);
		         if(fIEVersion == 7 || fIEVersion == 8 || fIEVersion == 9 || fIEVersion == 10 || fIEVersion < 7) {
		        	 window.location = "/error/browser.html";
		         }
		     }

	    	 var imgs = ["url(/img/bg1.jpg)","url(/img/bg2.jpg)","url(/img/bg3.jpg)","url(/img/bg4.jpg)"];
		     var j = 1;
	    	 function  bg(){
		    	var i = ++j % 4; 
		    	$("#tea_bg").css("background-image",imgs[i]);
		     }

		     $(document).ready(function(){
		    	 setInterval("bg()",3000);
		     });
		     
		     
	</script>
  </body>
</html>
