*{
	margin:0px;
	padding:0px;
	background-color:#fff68f;
	text-decoration :none;
	
}
.show_top{
	background-color:#fff68f;
}

#id_time{
	text-align:center;
}
#title{
	font-size:36px;
	font-weight:bold;
	font-family:software yahei;
}
#id_time #time {
	font-size:20px;
	font-family:STKaiTi;
}
#session{
	margin-top:10px;
}
