@charset 'utf-8';
* {font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;margin: 0;padding:0;}
html {font-size: 14px;color: #333;}
table {border-collapse: collapse;border-spacing: 0;}
ol, ul {list-style: none;}
dl {-webkit-margin-before:0;-webkit-margin-after:0;}
h1, h2, h3, h4, h5, h6 {font-size: 14px;}
a {text-decoration: none;color:#333;}
a:hover {color: #ff4457}
textarea {resize: none;}
img {border:none;}
input,button,input[type="button"] {outline: none;}
button,input[type="button"]  {color:#FFF;background-color: #00baf2;line-height: 30px;border:none;padding:0px 20px;cursor: pointer;}
button:hover,input[type="button"]:hover {opacity: .9;}
img {border:none;}
table {width: 100%;}
tr:first-child {border-top: 1px solid #e8e8e8;}
body{color: #333;font-size: 14px;line-height: 1.75;text-align: left;background: #eaeef2;}
@keyframes run {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
@keyframes all {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.15);
    }
}
@keyframes lr {
    0% {
        background-position: left top;
    }
    100% {
        background-position: right top;
    }
}

.disabled{background:#999}.del{text-decoration:line-through}.clear{clear:both;width:0;height:0;overflow: hidden;}.clearfix{clear:both}.clearfix:after{display:block;content:'';clear:both}.Left,.fl{float:left}.Right,.fr{float:right}.tl{text-align:left}.tc{text-align:center;}.tr{text-align:right}.fb{font-weight:700}.bluebg{background:#00baf2}.blue{color:#00baf2}.redbg{background:#ff4a56}.red{color:#ff4a56}.red:hover{color:#950b11}.f12{font-size:12px}.f14{font-size:14px}.f16{font-size:16px}.f18{font-size:18px}.f20{font-size:20px}.f22{font-size:20px}.f24{font-size:24px}.f26{font-size:26px}.f28{font-size:28px}.mt5{margin-top:5px}.mt10{margin-top:10px}.mt15{margin-top:15px}.mt20{margin-top:20px}.mt25{margin-top:25px}.mt30{margin-top:30px}.mt40{margin-top:40px}.mt50{margin-top:50px}.mt80{margin-top:80px}.mt100{margin-top:100px}.mb5{margin-bottom:5px}.mb10{margin-bottom:10px}.mb15{margin-bottom:15px}.mb20{margin-bottom:20px}.mb25{margin-bottom:25px}.mb30{margin-bottom:30px}.mb40{margin-bottom:40px}.mb50{margin-bottom:50px}.mb80{margin-bottom:80px}.mb100{margin-bottom:100px}.ml5{margin-left:5px}.ml10{margin-left:10px}.ml15{margin-left:15px}.ml20{margin-left:20px}.ml24{margin-left:25px}.ml30{margin-left:30px}.ml40{margin-left:40px}.ml50{margin-left:50px}.ml80{margin-left:80px}.ml100{margin-left:100px}.mr5{margin-right:5px}.mr10{margin-right:10px}.mr15{margin-right:15px}.mr20{margin-right:20px}.mr25{margin-right:25px}.mr30{margin-right:30px}.mr40{margin-right:40px}.mr50{margin-right:50px}.mr80{margin-right:80px}.mr100{margin-right:100px}
.fl{float: left;}.fr{float: right;}
.Page{width: 1200px;margin: 0 auto;}
.radius-box {border-radius: 4px;}
.mt30 {margin-top: 30px;}
.ellipsis {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.shadow {box-shadow: 0 0 20px 5px #d8dbdf;}
.page-title-box {padding: 20px;}
.page-title {float: left;font-weight: normal;font-size: 24px;line-height: 1;}	
.page-title:hover {color: #333;}
.page-title-box .more {float: right;color: #999;}
.page-title-box .more:hover {color: #ff4457;}
.advert a {position: relative;display: block;}
.advert img {display: block;width: 100%;height: 88px;}
.advert span {position: absolute;top: 10px;left: 50%;margin-left: 580px;width: 20px;height: 20px;background: url(../images/20.png) no-repeat;}
.nav-list {position: relative;z-index: 100;}
.nav-list a.logo {display: block;}
.nav-list a.logo img {display: block;width: 240px;height: 41px;}
.nav-list li {float: left;margin-right: 10px;position: relative;}
.nav-list li a {display: block;white-space: nowrap;}
.nav-list li .more  {position: absolute;left:0px;top:40px;background: #FFF;padding:10px 20px;box-shadow: 0 0 1px 1px #DDD;border-radius: 4px;display: none}
.nav-list li .more a  {line-height: 36px;}
.nav-list li:hover .more  {display: block;}
.nav-list a.nav-child {font-size: 18px;padding: 0 16px;line-height: 40px;color: #333;margin-left: 10px;border-radius: 4px;}
.nav-list a.nav-child:first-child {margin-left: 14px;}
.nav-list a.nav-child.on, .nav-list a.nav-child:hover {color: #fff;background: #ff4457;}
.nav-content-left {width: 240px;padding: 15px 0 35px 0;background: #fff;position: relative;}
.nav-content-left .box  {z-index: 10;margin-top: -3px;}
.nav-content-left .box>a {display: block;padding: 10px 20px;}
.nav-content-left .box:hover>a, .nav-content-left .box.on>a {background: url(../images/02.png) no-repeat;margin-left: -7px;}
.nav-content-left .box:hover>a span, .nav-content-left .box.on>a span {padding-left: 7px;}
.nav-content-left .box:hover>a span.top, .nav-content-left .box.on>a span.top {color: #fff;}
.nav-content-left .box:hover>a span.bot, .nav-content-left .box.on>a span.bot {color: #fea3bb;}

.nav-content-left .box .sub  {display: none;z-index:11;position: absolute;left: 240px;top:0px;background-color: #FFF;border-radius: 3px;box-shadow: 1px 1px 4px #999;height: 450px;padding:0 20px;}
.nav-content-left .box .sub li {}
.nav-content-left .box .sub li a {display: block;}
.nav-content-left .box .sub li a i {font-family: "iconfont" !important;display: block;width: 55px;height: 55px;line-height: 55px;margin: 20px auto 8px;text-align: center;background: #eee;font-size: 24px;border: 1px solid #F3F3F3;border-radius: 6px;font-style:normal;}
.nav-content-left .box .sub li a:hover {color: #ff4457;}
.nav-content-left .box .sub li a:hover i {border:1px solid #ff4457;background-color: #FFF;}
.nav-content-left .box:hover .sub {display: block;}
.nav-content-left span {display: block;color: #333;line-height: 1;}
.nav-content-left span.top {font-size: 18px;color: #333;}
.nav-content-left span.bot {font-size: 12px;margin-top: 10px;color: #999;}
.nav-content-center {width: 660px;margin: 0 10px;background: #fff;}
.nav-content-center img {width: 100%;height: 444px;}
.nav-content-right {width: 280px;}
.nav-content-right-top {background: #fff;}
.nav-content-right a {display: block;padding: 10px 10px 0 10px;}
.nav-content-right a.a-img {display: block;}
.nav-content-right a img {display:block;width: 280px;height: 156px;margin-left: -10px;margin-top: -10px;}
.nav-content-right a.tit {font-size: 16px;}
.nav-content-right a.con {color: #999;}
.nav-content-right a.link {text-align: right;color: #ff4457;padding-bottom: 10px;}
.nav-content-right a.link:hover {text-decoration: underline;}
.nav-content-right .list-box {padding: 10px;background: #fff;margin-top: 11px;}
.nav-content-right .list {overflow: hidden;}
.nav-content-right .list li {position: relative;float: left;width: 33%;text-align: center;border-left: 1px dashed #eaeef2;border-top: 1px dashed #eaeef2;margin-left: -1px;margin-top: -1px;padding: 4px 0;}
.nav-content-right .list a {/*position: absolute;bottom: 0;left: 0;*/padding: 0;font-size: 12px;line-height: 2;}
.nav-content-right .list p {height: 30px;background-repeat: no-repeat;background-position: center center;}
.nav-content-right .list .a1 p {background-image: url(../images/03.png);}
.nav-content-right .list .a2 p {background-image: url(../images/04.png);}
.nav-content-right .list .a3 p {background-image: url(../images/05.png);}
.nav-content-right .list .a4 p {background-image: url(../images/06.png);}
.nav-content-right .list .a5 p {background-image: url(../images/07.png);}
.nav-content-right .list .a6 p {background-image: url(../images/08.png);}
.film-content-box div.item {position: relative;width: 594px;height: 356px;cursor: pointer;overflow: hidden;}
.film-content-box img,.film-content-box video {display: block;width: 100%;height: 100%;}
.film-content-box p {position: absolute;bottom: 0;left: 0;width: 554px;padding: 10px 20px;background: url(../images/bg-30.png);display: none;}
.film-content-box div:hover p {display: block;}
.film-content-box p span {display: inline-block;height: 40px;line-height: 40px;color: #fff;}
.film-content-box p span.tit {float: left;font-size: 14px;}
.film-content-box p span.button {float: right;padding: 0 16px;background: #ff4457;border-radius: 4px;font-size: 16px;}
.course-content-box {background: #fff;margin-top: 20px;}
.course-content-box:first-child {margin-top: 0;}
.course-content-box .left {position:relative;text-align: center;width: 255px;height: 446px;}
.course-content-box .len-icon-01 {background: url(../images/10.png) no-repeat;}
.course-content-box .len-icon-02 {background: url(../images/11.png) no-repeat;}
.course-content-box .len-icon-03 {background: url(../images/12.png) no-repeat;}
.course-content-box .len-icon-04 {background: url(../images/13.png) no-repeat;}
.course-content-box .len-icon-05 {background: url(../images/14.png) no-repeat;}
.course-content-box .len-icon-06 {background: url(../images/15-java.png) no-repeat;}
.course-content-box .len-icon-07 {background: url(../images/16-ui.png) no-repeat;}
.course-content-box .left h2 {font-size: 24px;color: #fff;padding-top: 60px;}
.course-content-box .left p {font-size: 12px;color: #fff;}
.course-content-box .left a {position: absolute;bottom: 56px;left: 56px;font-size: 18px;padding: 0 16px;height: 38px;line-height: 38px;background: #fff;}
.course-content-box .middle {padding: 40px;text-align: center;}
.course-content-box .middle h2 {font-size: 28px;}
/*.course-content-box .middle .nums {position: relative;color:#FFF;display: block;}
.course-content-box .middle .nums p {position: absolute;width: 100%;left: 0;top:40px;font-size: 24px;}
.course-content-box .middle .nums span {position: absolute;width: 100%;left: 0;top:72px;font-size: 12px;}
.course-content-box .middle .nums img {width: 94px;height: 94px;margin-top: 20px;animation: run 3s infinite linear, all2 0.4s linear;}
.course-content-box .middle .nums:hover img {animation: all 0.4s linear;animation-fill-mode: forwards;}
*/
.course-content-box .middle .nums   {}
.course-content-box .middle .nums .main {overflow:hidden;position: relative;background:#ff4457;color:#333;display: block;width: 128px;height:128px;margin:auto;}
.course-content-box .middle .nums .main>div {position: absolute;width: 100%;height: 100%;left: 0;top: 0;}
.course-content-box .middle .nums .main .zhuan   {background: url(../images/z1.png) no-repeat;animation: run 1s infinite linear;}
.course-content-box .middle .nums .main .mk {background: url(../images/z2.png) no-repeat;}
.course-content-box .middle .nums .main .full {background: url(../images/z4.png) no-repeat center bottom;background-size:150%;animation: lr 3s infinite linear;animation-direction: alternate;}

.course-content-box .middle .nums p {position: absolute;width: 100%;left: 0;top:40px;font-size: 24px;}
.course-content-box .middle .nums span {position: absolute;width: 100%;left: 0;top:72px;font-size: 12px;}
.course-content-box .middle .nums img {width: 94px;height: 94px;margin-top: 20px;animation: run 3s infinite linear, all2 0.4s linear;}
.course-content-box .middle .nums:hover img {animation: all 0.4s linear;animation-fill-mode: forwards;}.course-content-box .middle .list {text-align:center;margin-top: 20px;}
.course-content-box .middle .list p, .course-content-box .middle .list span {line-height: 1;}
.course-content-box .middle .list p {float: left;width: 90px;border-left: 1px solid #f5f5f5;}
.course-content-box .middle .list p:first-child {margin-left: 34px;}
.course-content-box .middle .list span {display: block;margin-top: 14px;font-size: 14px;}
.course-content-box .middle .list span:first-child {font-size: 12px;color: #999;}
.course-content-box .middle button {padding: 0 16px;height: 32px;line-height: 32px;font-size: 16px;color:#fff;background: #ff4457;margin-top: 15px;border-radius: 4px;margin-bottom: 27px;}
.course-content-box .middle .time span {display: inline-block;font-size: 12px;text-align: left;}
.course-content-box .middle .time span:first-child {width: 90px;}
.course-content-box .middle .time span.last {color: #ff4457;margin-left: 14px;}
.course-content-box .right {width: 500px;}
.course-content-box .right .top {margin-top: 30px;}
.course-content-box .right .top a {}
.course-content-box .right .top img {display: block;margin-right: 10px;}
.course-content-box .right .top p {color: #999;}
.course-content-box .right .top span {display: block;color: #999;line-height: 1;}
.course-content-box .right .top span:first-child {color: #333;margin-bottom: 4px;}
.course-content-box .right .middle {margin-top: 20px;padding: 0;}
.course-content-box .right .middle a {width: 240px;height: 120px;background: #eee;border-radius: 4px;}
.course-content-box .right .bottom {margin-top: 40px;}
.course-content-box .right .bottom a.tit {font-size: 14px;line-height: 1;}
.course-content-box .right .bottom a.a-img {display: block;margin-top: 16px;}
.course-content-box .right .bottom img {width: 490px;height: 120px;background: #eee;border-radius: 4px;}
.teacher-content .tea-list {margin-top: 50px;}
.teacher-content .tea-list li {position: relative;float: left;padding: 30px 20px;width: 245px;height: 432px;margin-left: 20px;background: #fff;border-radius: 4px;}
.teacher-content .tea-list li a {display: block;}
.teacher-content .tea-list li:first-child {margin-left: 0;}
.teacher-content .tea-list .a-img {position: absolute;left: 72px;top: -50px;display: block;}
.teacher-content .tea-list .a-img img {display: block;width: 130px;height: 130px;border-radius: 50%;}
.teacher-content .tea-list .tea1 {font-size: 30px;margin-top: 60px;text-align: center;}
.teacher-content .tea-list .tea2 {font-size: 14px;color: #999;text-align: center;}
.teacher-content .tea-list .tea3 {font-size: 14px;color: #666;line-height: 2;margin-top: 10px;}
.teacher-content .tea-list .tea4-box {text-align:center;}
.teacher-content .tea-list .tea4 {position: absolute;left: 70px;bottom: 30px;font-size: 14px;color: #333;background: #fff;border: 1px solid #333;padding: 0 30px;height: 36px;line-height: 36px;border-radius: 40px;margin-top: 20px;}
.teacher-content .tea-list .tea4:hover {color: #fff;background: #ff4457;border: 1px solid #ff4457;}
.teacher-content .tea-list .tea-list-child {padding-top: 10px;}
.teacher-content .tea-list .tea-list-child li {float: left;width: auto;height: auto;font-size: 14px;color: #ff4457;background: #ffe1e4;padding: 0 8px;line-height: 1.6;margin: 8px 8px 0 0;}
.technology-content a:hover {color: #ff4457;}
.technology-content h2 {font-size: 16px;max-width: 634px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis}
.technology-content h2 em {font-style: normal;font-size: 10px;color: #fff;background: #ff4457;padding: 0 2px;line-height: 1.5;border-radius: 2px;vertical-align: middle;}
.technology-content h2 i {display: inline-block;width: 3px;height: 6px;background: url(../images/18.png) no-repeat;margin-right: 6px;vertical-align: middle;}
.job-content-box-left img {padding: 10px;background: #fff;width: 656px;height: 394px;border-radius: 4px;}
.job-content-box-right .child-box {width: 498px;padding: 10px;background: #fff;border-radius: 4px;padding-left: 0;}
.job-content-box-right .child {float: left;margin-left: 10px;position: relative;}
.job-content-box-right .child img {display: block;width: 238px;height: 166px;border-radius: 4px;}
.job-content-box-right .child p {font-size: 14px;color: #666;line-height: 31px;text-align: center;max-width: 238px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis}
.job-content-box-right .child span  {top:0;left:0;display: block;position: absolute;width: 238px;height: 166px;background: url(../images/play_s.png) no-repeat center;}
.job-content-box-right .child span:hover    {opacity: 0.5;}
.job-content-table  {background: #FFF;border-radius: 4px;padding: 10px;width: 655px;font-size: 12px;line-height: 14px;text-align: center;height: 347px;overflow: hidden;}
.job-content-table tr{border:none;}
.job-content-table thead td {padding: 10px;background: #333;color: #8DE877;text-align: left;}
.job-content-table thead td.f28 {text-align: right;}
.job-content-table tbody  {line-height: 36px;}
.job-content-table tbody tr.green {background: #8DE877}
.technology-content-left {width: 674px;}
.technology-content-left-box, .technology-content-right-box {position:relative;height: 176px;padding: 34px 20px;background: #fff;overflow: hidden;}
.technology-content-left-box .list {margin-top: 10px;}
.technology-content-left-box .list a {display: block;font-size: 12px;color: #666;line-height: 30px;max-width: 366px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis}
.technology-content-left-box .list a:hover {color: #ff4457;}
.technology-content-left-box .list a i {display: inline-block;width: 4px;height: 4px;background: #ff4457;vertical-align: middle;margin-right: 6px;}
.technology-content-left-box .a-img {position: absolute;right: 20px;bottom: 34px;}
.technology-content-left-box .a-img img {display: block;width: 259px;height: 122px;}
.technology-content-right {width: 466px;}
.technology-content-right-box a {display: block;line-height: 30px;font-size: 12px;color: #666;max-width: 426px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis}
.technology-content-right-box a.first {margin-top: 10px;}
.technology-content-right-box span {font-size: 12px;color: #ff4457;border: 1px solid #ff4457;padding: 1px 2px;margin-right: 6px;}
.school-content {margin-bottom: 60px;}
.school-content a {float: left;margin-left: 0px;}
.school-content a.first {margin-left: 0px;}
.school-content a img {display: block;}
.footer-bg {width: 100%;background: #fff;}		
.footer ul {padding: 60px 29px;}
.footer ul:first-child {margin-left: -30px;}
.footer h2 {font-size: 18px;color: #666;padding-bottom: 14px;}
.footer a {display: block;font-size: 14px;color: #999;line-height: 2;}
.footer a:hover {color: #ff4457;}
.footer img {width: 70px;height: 70px;display: block;margin: auto;margin-bottom:10px;}
.footer-03 li {float: left;margin-left: 20px;width:80px;text-align:center;position: relative;}
.footer-03 li .more {display: none;position: absolute;left: 95px;border:1px solid #eee;top:0px;z-index: 80;}
.footer-03 li .more img {width: 160px;height: 160px;}
.footer-03 li .more p   {color:#EEE;position: absolute;font-size: 14px;left: -7px;top:20px;}
.footer-03 li .more p.p2   {color:#FFF;left: -6px;}
.footer-03 li:hover .more {display: block;}
.footer-03 li h2   {text-align:left;}
.footer-03 li.tit {width: 100%;}
.footer-03 li.first {margin-left: 0;}
.footer-04 a {font-size: 14px;color:#666;}
.copyright {font-size: 14px;color: #666;background: #fff;line-height: 62px;text-align: center;margin-top: 1px;}
.slider-box {position: fixed;right:10px;top: 20%;width: 55px;background: #fff;z-index: 999;box-shadow: 1px 1px 3px #999;}
.slider-box a   {margin-bottom:1px;height:20px;padding-top:35px;line-height:16px;display: block;background:#ff4153 url(../images/index_icons.png) no-repeat;background-size: 100px auto;font-size: 12px;color:#fff;}
.slider-box a:last-child    {margin:0;}
.slider-box a.s1    {background-position: 3px 0px}
.slider-box a.s2    {background-position: 3px -50px}
.slider-box a.s3    {background-position: 3px -100px}
.slider-box a.s4    {background-position: 3px -150px;position: relative;}
.slider-box a.s4 img    {position: absolute;right: 56px;top:-1px;z-index: 10;width: 120px;display: none;}
.slider-box a:hover.s4 img  {display: block;}
.slider-box a:hover {background-color: #fff;color:#ff4153;background-position-x: -52px;}
/*.slider-box a {display: block;margin-top: 2px;}
.slider-box img {display: block;width: 98px;height: 98px;}*/
.swiper-container {width: 100%;height: 449px;border-radius: 4px;}
.swiper-slide {text-align: center;font-size: 18px;background: #fff;display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}


.option_Banner  {height: 110px;line-height: 110px;color: #FFF;background: url(../images/banner-o.png) no-repeat;}
.option_DL  {margin-bottom: 30px;font-size: 16px;line-height: 2.4;overflow: hidden;}
.option_DL>dt{padding-left: 16px;font-size: 18px;line-height: 20px;border-left: 4px solid #ff4457;margin-bottom: 20px;}
.option_DL.tab>dt   {margin-bottom: 0;padding-left: 0;margin-right: 20px;border-left: 0;cursor: pointer;}
#tab_c  {margin-top: 0;}
.option_DL.tab>dt:hover {opacity: 0.8;}
.option_DL.tab>dt.cur   {border-bottom:3px solid #ff4457;}
.option_DL>dd {background: #FFF;border-radius: 5px;padding: 30px;margin-bottom: 40px;}
.option_DL>dd h2  {font-size: 24px;text-align: center;font-weight: normal;margin-bottom: 20px;}
.option_DL>dd>p {text-indent: 2em;margin-bottom: 10px;}
.option_DL>dd dl  {border-left: 2px solid #DDD;margin-left: 50px;}
.option_DL>dd dt  {font-size: 22px;padding-left: 46px;background: url(../images/dot.png) no-repeat left center;margin-left: -6px;}
.option_DL>dd dd  {padding-left: 40px;margin-bottom: 40px;}


.Lecs {overflow: hidden;background: #FFF;border-radius: 20px;padding: 30px;margin:30px auto;}
.Lecs li  {float: left;border:1px solid #DDD;border-radius: 30px;float: left;padding:140px 40px 40px 40px;margin: 30px;position: relative;margin-top: 120px;width: 418px;}
.Lecs li img  {border-radius: 100%;width: 220px;height: 220px;position: absolute;background: #EEE;top: -110px;left: 50%;margin-left: -110px;}
.Lecs li h2 {font-size: 22px;text-align: center;font-weight: normal;}
.Lecs li h2 span  {font-size: 18px;color: #999;}
.Lecs li div  {line-height: 2.5;font-size: 16px;margin-top: 20px;height: 320px;overflow: hidden;}


.topicBanner  {width: 100%;height: 640px;background: url(../images/t1_banner.png) no-repeat center;margin-top: 20px;position: relative;}
.topicBanner a  {position: absolute;display:block;line-height: 60px;width: 350px;left: 50%;margin-left: -175px;top: 450px;}

.topicContent {}
.topicContent .block  {padding-top: 50px;}
.topicContent .block  h1  {font-size: 48px;font-weight: normal;text-align: center;}
.topicContent .block  h1 span {color: red;}
.topicContent .block  h2  {font-size: 32px;font-weight: normal;text-align: center;}
.topicContent .block  h3  {font-size: 18px;color:#999;font-weight: normal;text-align: center;}
.topicContent .block .sy {width: 1000px;margin:20px auto;border:1px solid #DDD;border-radius: 5px;}
.topicContent .block .sy:hover  {border-color: #BBB;}
.topicContent .block .sy dt {overflow: hidden;cursor: pointer;background: url(../images/more.png) no-repeat 98% center;}
.topicContent .block .sy dt i {float: left;width: 110px;text-align: center;font-size: 48px;color: #999;}
.topicContent .block .sy dt>div {float: left;width: 890px;}
.topicContent .block .sy dt>div p  {font-size: 18px;margin-top: 15px;}
.topicContent .block .sy dt>div span  {color: #999;margin-right: 50px;}
.topicContent .block .sy dd {padding:10px 10px 10px 110px;border-top:1px solid #DDD;display: none}
.topicContent .block .sy.on {background-color: #f6fafe}
.topicContent .block .sy.on dt  {background-image: url(../images/less.png);}
.topicContent .block .sy.on dd  {display: block;}
.topicContent .block a.btn  {display: inline-block;margin: auto;font-size: 22px;color: #FFF;background: red;line-height: 50px;border-radius: 25px;padding: 0 50px;}

.topicContent .list1  {overflow: hidden;margin: 50px auto;}
.topicContent .list1 li {float: left;background: #b1dbff;margin: 10px;width: 500px;padding: 40px;border-radius: 10px;height: 200px;font-size: 20px;color: #555;}
.topicContent .list1 li span  {display: block;font-size: 30px;color: #000;}

.topicContent .list2  {background: url(../images/t.png) no-repeat center;height:506px;overflow: hidden;color: #FFF;text-align: center;margin: 50px auto;}
.topicContent .list2 li {line-height: 82px;border-bottom:3px solid #FFF;font-size: 24px;}
.topicContent .list2 li span  {margin-right: 40px;}

.topicContent .list3  {overflow: hidden;margin: 50px auto;}
.topicContent .list3 li {float: left;width: 240px;margin: 30px;background: #02a3e5;color:#FFF;line-height: 2.2;overflow: hidden;}
.topicContent .list3 li img {display: block;}
.topicContent .list3 li p {padding: 25px;height: 180px;}

.topicContent .lec  {width: 700px;margin: auto;font-size: 16px;color: #333;}
.topicContent .lec img  {display: block;width: 240px;margin:40px auto;}
.topicContent .lec p  {margin-top: 10px;}

.Py_topicBanner {height: 650px;background: url(../images/py_banner.jpg) no-repeat center;}
.Py_topicBanner div {padding-top: 500px;text-align: center;}
.Py_topicBanner div a {width: 300px;line-height: 75px;display: inline-block;margin: 0 50px;background: #FFF;color: #f62931;font-size: 36px;border-radius: 5px;}
.Py_topicBanner div a.red {color: #FFF;background: #f62931;}
.Py_topicBanner div a:hover {opacity: 0.9}

.Py_sy  {overflow: hidden;margin-bottom: 100px;}
.Py_sy li {float: left;background: #f6fafe;margin: 5px;width: 250px;padding: 20px;height: 320px;}
.Py_sy li img {display: block;margin: 20px auto;}
.Py_sy li h4  {font-size: 20px;margin-bottom: 30px;text-align: center;}

.Py_list1  {overflow: hidden;margin: 50px auto;text-align: center;color: #FFF;}
.Py_list1 li {float: left;background: #13b5b1;margin: 10px;width: 500px;padding:20px 40px;border-radius: 10px;height: 100px;font-size: 16px;}
.Py_list1 li span  {display: block;font-size: 24px;}

.Py_les  {background: url(../images/py_lec_bg.jpg) no-repeat center top;padding-top: 30px;height:750px;}
.Py_les .tecs  {overflow: hidden;}
.Py_les .tesc .tec  {float: left;width: 395px;padding: 50px 100px;text-align: left;color: #FFF;font-size: 16px;}
.Py_les .tesc .tec h2 {text-align: left;}
.Py_les .tesc .tec h2 span  {font-size: 16px;margin-left: 20px;}
.Py_les .tesc .tec p  {margin-top: 20px;}
.Py_mo  {height: 1200px;background:#FFF url(../images/py_mo.jpg) no-repeat top center;}
.Py_mo2 {height: 369px;background: url(../images/py_mo2.jpg) no-repeat top center}

.NWT_topicBanner  {height: 650px;background: url(../images/nw_banner.jpg) no-repeat center;}
.NWT_topicBanner div {padding-top: 500px;text-align: center;}
.NWT_topicBanner div a {width:240px;line-height: 60px;display: inline-block;background: #4eb0ff;color: #FFF;font-size: 22px;border-radius: 5px;}
.NWT_topicBanner div a:hover {opacity: 0.9}
.topicContent.NWT .block a.btn  {background: #4eb0ff}

.NWT_Tb {text-align: center;font-size: 18px;border-spacing: 20px;border-collapse:inherit;}
.NWT_Tb thead {font-size: 26px;font-weight: bold;}
.NWT_Tb tr  {border:none;}
.NWT_Tb tbody td  {background: #86d4f2;padding:0;width:25%;border-radius: 2px;height: 70px;}

.NTW_list {height: 590px;padding-top: 100px;color:#FFF;}
.NTW_list1  {background: url(../images/nw_bg1.jpg) no-repeat center top;}
.NTW_QA  {background: url(../images/nw_bg2.jpg) no-repeat center top;}
.NTW_list h1  {font-size: 48px;font-weight: bold;margin-bottom: 40px;}
.NTW_list1 h1  {font-size: 36px;font-weight: normal;}
.NTW_list1 ul {overflow: hidden;margin-top: 40px;}
.NTW_list1 li {text-align: left;float: left;width: 340px;margin: 10px;padding:40px 20px;color:#DDD;background: url(../images/bg-30.png);}
.NTW_list1 li span  {font-size: 16px;display: block;text-align: center;margin-bottom: 20px;color: #FFF;}

.NTW_QA .Page div {position: relative;background: url(../images/bg-30.png);margin-bottom: 50px;padding: 40px 50px 40px 80px;font-size: 18px;}
.NTW_QA .Page div span  {position: absolute;left: 50px;top:40px;font-weight: bold;}

.NWTer_topicBanner  {height: 650px;background: url(../images/nwter_banner.jpg) no-repeat center;}
.NWTer_topicBanner div {padding-top: 500px;text-align: center;}
.NWTer_topicBanner div a {width:300px;line-height: 60px;display: inline-block;background: #4eb0ff;color: #FFF;font-size: 22px;border-radius: 30px;}
.NWTer_topicBanner div a:hover {opacity: 0.9}

.NWTer .NWTer_list0 ul {overflow: hidden;}
.NWTer .NWTer_list0 ul li {float: left;width: 220px;padding:40px 20px;margin: 20px;background: #FFF;}
.NWTer .NWTer_list0 ul li img  {display: block;margin-bottom: 20px;}
.NWTer .NWTer_list0 ul li p  {margin-bottom: 30px;height: 150px;}
.NWTer .NWTer_list0 ul li span {display: block;margin: 0 -20px -40px -20px;background:#2cb7d0;color: #FFF;text-align: center;line-height: 40px;}

.NWTer_mo {height: 465px;background: url(../images/ntwer_mo.jpg) no-repeat center top;}
.NWTer_list1  {text-align: center;margin: 50px auto;}
.NWTer_list1 p  {display: inline-block;color: #FFF;background: #2cb7d0;padding: 0 40px;margin: 10px 20px;line-height: 60px;font-size: 22px;border-radius: 5px;}

.NWTer_Lec  {margin: 50px auto;}

.NWTer_list2  {}
.NWTer_list2 ul {overflow: hidden;margin-right: -30px;font-size: 16px;}
.NWTer_list2 ul li  {float: left;width: 585px;height: 200px;background: url(../images/nwter_bg1.jpg) no-repeat;margin-right: 30px;margin-bottom: 20px;color:#FFF;}
.NWTer_list2 ul li span {display: block;text-align: center;font-size: 24px;margin: 20px;}
.NWTer_list2 ul li p  {padding:0 30px;}


/* ui's  css  style start*/
.UI_Banner  {height: 650px;background: url(../images/ui_bg.jpg) no-repeat center;}
.UI_Banner .ui_hr image{text-align:center; }

.topicContent .block #wrap {height: 400px; width: 900px;  /*小球设置相对定位*/ position: relative; margin: 0 auto;overflow: hidden;margin:-100px auto;}
.topicContent .block #wrap  p {width: 100px;height: 100px;border-radius: 50%;background-color: red; position: absolute;top: 0;left: 0;color: white;font-size:16px;text-align: center; line-height: 100px; }
.topicContent .block .ui_console{margin:0px  auto;background-color: #E6E6FA ;width:1192px;}
.topicContent .block .ui_console1{width:600px;height:320px;padding:20px;line-height:2.7em;float:left;}
.topicContent .block .ui_console1  p{font-size:16px;text-align:left;font-family:微软雅黑;font-weight:bold;}
.topicContent .block .ui_console1  .about_detail{float:left;}
.topicContent .block .ui_console2{float:left;}
.clear{clear:both;}



.topicContent div {text-align:center;}
.topicContent div .ui_paragrah{color:#a8a7a7;}
.topicContent .block .ui_compare{margin-top:20px;}
.topicContent .block  .ui_compare img{height:60%;width:60%;}

.topicContent .block  .ui_teacher{width:1000px;border-color:red;height:750px;background-color:red;margin:auto;}
.topicContent .block  .ui_teacher .ui_teacher_list{width:25%;height:100%;float:left;position:relative;overflow:hidden;}
.topicContent .block  .ui_teacher img{position:absolute;bottom:0px;left:0px;width:100%;}
.topicContent .block  .ui_teacher .teacher_detail{color:#fff;position:absolute;top:50%;padding-left:10px;padding-right:10px;}
.topicContent .block  .ui_teacher .teacher_detail font{font-size:16px;}
.bgimg1{background:url(../images/teacher_ui_li.jpg) no-repeat #fef2f3 40%;background-size:cover;}
.bgimg2{background:url(../images/teacher_ui_wu.jpg) no-repeat #fff5ee 40%;background-size:cover;}
.bgimg3{background:url(../images/teacher_ui_jia.jpg) no-repeat #fffcea 40%;background-size:cover;}
.bgimg4{background:url(../images/teacher_girl.png) no-repeat #f5f2fe 40%;background-size:cover;}

.topicContent .block  .ui_question .btn_question{margin-top:20px;}
.box_in{width:80%;margin:auto;position:relative;}
.btm{width:100%;margin:40px 0  40px 0px;}
.btm  .box3_top{margin-left:70px;width:100px;margin-top:20px;}
.btm  .box3_top  ul{background:#e57100;width:970px;height:48px;line-height:48px;overflow:hidden;position:relative;}
.btm  .box3_top  ul li{font-size:20px;float:left;color:#fff;text-align:center;font-weight:bold;}
.box3_top  .src4{width:20%;}
.box3_top  .src5{width:30%;}
.box3_top .scrollDiv{width:970px;float:left;height:210px;margin-bottom:10px;}
.box3_top  .scrollDiv  .bg{height:210px;}
.box3_top  .scrollDiv  ol{width:100%;background:#fff;list-style:none;vertical-align:top;}
.box3_top .scrollDiv ol li{overflow:hidden;line-height:50px;height:50px;list-style:none;vertical-align:top;display:list-item;position:relative;}
.box3_top  .scrollDiv ol li p{font-size:20px;color:#000;float:left;text-align:center;}

/*  ui's  css style  end */

/* java's page css is start */
.java{margin-bottom:30px;}

.java_banner_top{width:100%;margin:13px auto;}

.clear{clear:both;}

.banner_contain{text-align:center;position:relative; }
.banner_contain  .banner_title{position:absolute;font-size:36px;font-weight:bold;color:#fff;margin:0px auto;top:0px;width:95%;height:95%;}

.java_banner_top .banner_list{ width:995px;height:auto;margin:20px  auto 30px  auto;text-align:center;}
.java_banner_top .banner_list .banner_one{text-align:center;width:271px;float:left;height:auto;margin:0 30px;display:inline-block;}
.java_banner_top .banner_list .banner_one img{-webkit-animation-play-state:paused; }
.java_banner_top .banner_list .banner_one img:hover{ -webkit-animation:run 5s linear 2s infinite;  }

@keyframes run{     
            from{     
                -webkit-transform:rotate(360deg);     
            }     
            to{     
                -webkit-transform:rotate(0deg);     
            }     
        }


.java_banner_top .banner_list .banner_one p{font-size:24px;color:#000;}


.first_langurage{margin-top:30px;}


.teacher_picture{margin-top:40px;}
.picture_list{margin:30px auto;	display:inline-block;}

/*  一线大牛讲师 */
		.ih-item{ 	
			margin:0px 5px;
			position: relative;
			width: 285px;
			height: 420px;
			float:left;

		} 
		.ih-item .img img{
			position: relative;
			width: 285px;
			height: 420px;
			max-width: 100%;
		} 
		.ih-item .info {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			text-align: center;
			-webkit-backface-visibility: hidden;/* 隐藏旋转元素的背面*/
			backface-visibility: hidden;
			background: rgba(0, 0, 0, 0.8);   /*后面这个0.6是指的背景的透明度*/
			opacity: 0;
			-webkit-transition: all 0.35s ease-in-out;   /*规定提示信息怎样出现ease-in-out以慢速度开始和结束*/
			-moz-transition: all 0.35s ease-in-out;
			transition: all 0.35s ease-in-out;
			color:#fff;
		}	
		.ih-item a:hover .info {
			opacity: 1;    /*有opacity有0变成1*/            
		}
		
		.ih-item .info h2{color:#fff;}
		.ih-item .info h3{color:#fff;}
		.ih-item .info p{color:#fff;}


.topicContent  .block  .part  .part-main  .part10  .part10-info h1{color:#fff;font-size:14px;}
.topicContent  .block  .part  .part-main  .part10  .part10-info h1  span{color:#fff;}






/* java's page  css is end */




























.HT_topicBanner  {height: 650px;background: url(../images/ht_bg.jpg) no-repeat center;}
.HT_topicBanner div {padding-top: 500px;text-align: center;}
.HT_topicBanner div a {width:300px;line-height: 60px;display: inline-block;background: #FFF;color: #c44100;font-size: 22px;border-radius: 5px;}
.HT_topicBanner div a:hover {opacity: 0.9}

.HT_list1 {overflow: hidden;margin: 40px auto;}
.HT_list1 li  {float: left;width: 340px;height:120px;padding: 20px;margin: 10px;font-size: 16px;background: #ee9e5b;color: #FFF;border-radius: 5px;}
.HT_list1 li span {display: block;font-size: 24px;font-weight: bold;margin-bottom:20px;}

.topicContent .list2.HT li  {border-bottom-color: #f4fdff;}

.HT_Lec {margin: 50px auto;}
.HT_Lec div.fl  {width: 350px;height: 240px;background: #ee9e5b;}
.HT_Lec div.fl img  {display: block;margin:  -3px;background: #DDD;width: 100%;height: 100%;}
.HT_Lec div.fr  {width: 820px;}
.HT_Lec div.fr p span {font-size: 18px;color: #999;margin-left: 30px;}

.HT_Logos ul  {margin: 0 -10px;overflow: hidden;margin-bottom: 50px;}
.HT_Logos li  {width: 285px;height: 122px;overflow: hidden;float: left;margin:10px;}
.HT_Logos li img  {display: block;width: 100%;height: 100%;}

.LecTeam  {margin-top:30px;}
.LecTeam .banner  {font-size:20px;padding-top: 240px;color: #FFF;background: url(../images/lt_banner.jpg) no-repeat center top;height: 240px;overflow: hidden;text-align: center;}
.LecTeam .banner h4 {font-size: 30px;margin-top: 5px;margin-bottom: 30px;font-weight: normal;}
.LecTeam .Lec {padding-top: 95px;height: 585px;overflow: hidden;}
.LecTeam .Lec .pic  {position: relative;}
.LecTeam .Lec .main {padding-top: 100px;font-size: 18px;width: 720px;line-height: 2;}
.LecTeam .Lec .pic img  {display: block;}
.LecTeam .Lec .pic h2 {position: absolute;top: 0px;padding: 0 30px;font-size: 40px;white-space:nowrap;font-weight: normal;}
.LecTeam .Lec.left .pic {float: left;width: 448px;}
.LecTeam .Lec.left .main {float: right;}
.LecTeam .Lec.left .pic h2  {left: 448px;color: #FFF;background: #000;}
.LecTeam .Lec.right .pic  {float: right;}
.LecTeam .Lec.right .main {float: left;color: #FFF;}
.LecTeam .Lec.right .pic h2  {right: 448px;background: #f83656;color: #FFF;}
.LecTeam .Lec.right.r1  {background: url(../images/lt_b1.jpg) no-repeat center top;}
.LecTeam .Lec.right.r2  {background: url(../images/lt_b2.jpg) no-repeat center top;}
.LecTeam .Lec.right.r3  {background: url(../images/lt_b3.jpg) no-repeat center top;}

.workInfo {margin-top: 30px;}
.workInfo .Banner {height: 420px;border-radius: 5px;background: #4482ff;color: #FFF;}
.workInfo .List {background:#FFF;padding: 40px;margin-top: 40px;border-radius: 5px;}
.workInfo .List dt  {font-size: 24px;margin-bottom: 5px;}
.workInfo .List dd  {padding-bottom: 30px;}
.workInfo .List .list1 {margin:0 -10px;overflow: hidden;}
.workInfo .List .list1 li {position: relative;float: left;width: 265px;margin: 10px;border-radius: 5px;height: 185px;overflow: hidden;}
.workInfo .List .list1 li:hover {opacity: 0.8;}
.workInfo .List .list1 a.picslink   {position:absolute;width:100%;height:185px;left:0;top:0;}
.workInfo .List .list1 a.picslink  img  {display: block;margin: 60px auto;}
.workInfo .List .list1 a.picslink:hover {opacity: 0.8;}
.workInfo .List .list1 li button  {padding: 0;border:none;background: url(../images/play.png) no-repeat center;width: 100%;height: 100%;display: block;}
.workInfo .List .list1 li button:hover  {opacity: 0.5;}
.workInfo .List .list3 {margin:0 -10px;overflow: hidden;white-space:nowrap;}
.workInfo .List .list3 li {float: left;width: 318px;padding:20px;border:1px solid #EEE;margin: 10px;border-radius: 5px;overflow: hidden;}
.workInfo .List .list3 li h3 {font-size: 18px;font-weight: normal;}
.workInfo .List .list3 li div {padding: 10px;border-radius: 5px;background: #f0f3f6;font-size: 14px;margin-top: 10px;line-height: 2;}
.workInfo .List .tab  {background: #333;color: #CECECE;padding:20px;font-size: 16px;overflow: hidden;}
.workInfo .List .tab p  {float: left;margin-right: 30px;cursor: pointer;}
.workInfo .List .tab p.cur,.workInfo .List .tab p:hover  {color: #8dd8ed;}
.workInfo .List .list2  {text-align: center;line-height: 2;display: none;}
.workInfo .List .list2.cur {display: block;}
.workInfo .List .list2 li.bg  {background: #8dd8ed;}
.workInfo .List .list2 li p.bg  {background:#8dd8ed;margin:-5px 0;padding:5px 0;}
.workInfo .List .list2 li {overflow: hidden;padding: 5px 0;}
.workInfo .List .list2 li p {float: left;width: 16%;}
.workInfo .List .list2 .ll  {height: 380px;overflow: hidden;}
.workInfo .List .list3 li a {line-height: 1;display: block;float: right;padding:5px 10px;background:#ff4153 ;color:#fff;border-radius: 3px;margin-top: -30px;position: relative;z-index: 10;font-weight: 300;}

.Test_topicBanner {height: 650px;background:url(../images/test_banner.jpg) no-repeat center top;}
.Test_topicBanner div {padding-top: 500px;text-align: center;}
.Test_topicBanner div a {width:300px;line-height: 60px;display: inline-block;background: #f83656;color: #FFF;font-size: 22px;border-radius: 55px;}
.Test_topicBanner div a:hover {opacity: 0.9}
.topicContent.TEst .block a.btn {background-color: #f83656;}
.TEst .til  {font-size: 24px;color: #f83656;font-weight: bold;}
.TEst .til span {border-bottom:2px solid #333;padding: 10px;position: relative;}
.TEst .til span::before,.TEst .til span::after{content:" ";position: absolute;bottom:-4px;width:6px;height:6px;background-color: #333;border-radius: 100%;}
.TEst .til span::before{left:0px;}
.TEst .til span::after{right:0px;}
.TEst .box  {margin-top:100px;}
.TEst .box>div  {width:580px;}
.TEst .box>div .top  {background-color: #f83656;color:#FFF;padding:5px 0;}
.TEst .box>div .top h4  {font-size: 26px;font-weight: bold;}
.TEst .box>div .top p {font-style: 16px;margin-left: 2px;}
.TEst .box>div .main  {font-size: 20px;padding: 20px;line-height: 2;border:1px solid #f83656;}
.TEst .box>div .main  span  {color: #f83656;font-size: 32px;font-weight: bold;margin-left: 20px;}
.TEst .box>div .main  b {font-size: 20px;font-weight: normal;margin-left: 10px;}
.TEst .list0  {overflow: hidden;margin:50px -10px;color:#FFF;}
.TEst .list0 li {float: left;width: 245px;margin: 10px;padding:0 20px;height: 330px;overflow: hidden;}
.TEst .list0 li.o1  {background:url(../images/test_bg_1.jpg);}
.TEst .list0 li.o2  {background:url(../images/test_bg_2.jpg);}
.TEst .list0 li.o3  {background:url(../images/test_bg_3.jpg);}
.TEst .list0 li.o4  {background:url(../images/test_bg_4.jpg);}
.TEst .list0 li h4  {line-height: 80px;padding-top: 5px;font-weight: bold;font-size: 28px;text-align: center;border-bottom:1px dashed #999;}
.TEst .list0 li p  {margin-top: 40px;line-height: 2;}
.TEst.topicContent .block h1,.TEst.topicContent .block h2,.TEst.topicContent .block h3  {color: #003941}
.TEst.topicContent .block h3{font-size: 20px;}
.TEst.list1 {background:#0d0e32 url(../images/test_bg1.jpg) no-repeat center top;color:#888;}
.TEst.list1 .list {overflow: hidden;margin-top: 80px;}
.TEst.list1 .list li  {float: left;width: 372px;}
.TEst.list1 .list li .box {background:url(../images/bg-30.png);margin-bottom: 25px;margin-top:0;}
.TEst.list1 .list li .box h4  {font-size: 24px;color: #FFF;line-height: 100px;text-align: center;}
.TEst.list1 .list li .box div {text-align: center;width: 100%;;margin-bottom: 20px;}
  .TEst.list1 .list li .box div h5  {display: block;width: 150px;margin: auto;color:#000;line-height: 40px;margin-bottom: -18px; }
.TEst.list1 .list li .box p {padding:20px;color: #999;margin-bottom: 10px;}

.TEst .box.c1 div{border-bottom: 2px solid #ffff00 }
.TEst .box.c1 div h5{background-color:#ffff00}
.TEst .box.c2 div{border-bottom: 2px solid #ec6941 }
.TEst .box.c2 div h5{background-color:#ec6941}
.TEst .box.c3 div{border-bottom: 2px solid #4dc3f4 }
.TEst .box.c3 div h5{background-color:#4dc3f4}
.TEst .box.c4 div{border-bottom: 2px solid #77ff77 }
.TEst .box.c4 div h5{background-color:#77ff77}
.TEst .box.c5 div{border-bottom: 2px solid #84ccc9 }
.TEst .box.c5 div h5{background-color:#84ccc9}

.TEst .lecs {overflow: hidden;}
.TEst .lecs li  {float: left;width: 346px;padding: 10px 0;}
  .TEst .lecs li .Pic{width: 342px;height: 240px;background-color: #00baf2;float: left;clear: both;}
  .TEst .lecs li .Pic img {width:100%;height: 100%;display: block;margin: -4px;background-color: #DDD;}
.TEst .lecs li h4 {font-size: 26px;font-weight: bold;margin-top: 20px;clear: both;}
.TEst .lecs li p  {font-size: 18px;}
.TEst .lecs li .main  {margin-top: 20px;}

.optionMain {padding-top: 30px;}
.optionMain .Left {width: 835px;}
.optionMain .Right {width: 345px;}
.optionMain .ConBox {background-color: #FFF;border-radius: 5px;border-top-left-radius: 0;border-top-right-radius: 0;overflow: hidden;margin-bottom: 30px;border:1px solid #ddd;border-top:0;}
.optionMain .Left .ConBox {padding: 35px;}
.optionMain .Left .ConBox h1  {font-size: 28px;text-align: center;font-weight: normal;margin-bottom: 20px;}
.optionMain .Left .ConBox p {font-size: 16px;line-height: 2;margin-bottom: 10px;}
.optionMain .Right .ConBox {padding: 20px;}
.optionMain .Right h2,.optionMain .Left .crumbs {margin: 0;font-size: 18px;font-weight: normal;color: #000;border:1px solid #ddd;background:#EEE;font-size: 14px;padding:5px 10px;border-radius:5px;border-bottom-left-radius: 0;border-bottom-right-radius: 0;}
.optionMain .Right .ConBox .txt {overflow: hidden;}
.optionMain .Right .ConBox .txt li  {height: 30px;line-height: 30px;overflow: hidden;}
.optionMain .Right .ConBox .users {overflow: hidden;margin: 0 -8px 0 -7px;}
.optionMain .Right .ConBox .users li {float: left;width: 60px;margin:5px 10px;}
.optionMain .Right .ConBox .users img {border-radius: 100%;width: 60px;height: 60px;background-color: #ddd;}
